* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Simplifie la gestion des dimensions */
}

:root {
  --menu-bars-color: black;
  --game-item-color: gray;
}

* {
  font-family: "Poppins";
}

/* Barre du bas */
.bottom-bar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom-bar-section {
  flex: 1;
  margin: 10px;
}

.bottom-bar-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.bottom-bar-section a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.bottom-bar-section a:hover {
  text-decoration: underline;
}

.b-bar-logo {
  max-width: 100px;
}

.home-display {
  display: flex;
  width: 100%;
  height: 600px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("rsc/home-background.webp");
  background-size: cover;
}

.home-display h1 {
  align-self: center;
  color: white;
  font-size: 50px;
  margin-left: 50px;
}

.game-list-container h1 {
  text-align: center;
  margin-top: 35px;
}

.blog-container {
  padding: 150px;
  padding-top: 75px;
}
.blog-container h1 {
  font-size: 50px;
  margin-bottom: 25px;
}
.blog-container h2 {
  margin-top: 15px;
  font-size: 25px;
}
.blog-container img{
  width: 85%;
}


.game-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding-bottom: 70px;
}
.game-list-item {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  margin: 15px;
  border-radius: 10%;
  width: 250px;
}
.game-list-item img {
  display: flex;
  width: 70%;
  background-color: black;
  padding: 15%;
  border-radius: 5%;
  margin-bottom: 15px;
}

/* Container principal de la barre de navigation */
.navbar {
  display: flex;
  align-items: center; /* Aligne verticalement les éléments */
  justify-content: space-between; /* Icone à gauche, liens à droite */
  padding: 10px 20px;
  background-color: #3d3d3d;
}

/* Style pour l'icône SVG */
.icon-name {
  display: flex; /* Permet de centrer les éléments */
  align-items: center;
  color: white;
  gap: 15px;
  text-decoration: none;
}

.brain-icon {
  width: 40px; /* Taille de l'icône */
  height: 40px;
  stroke: white; /* Couleur blanche pour l'icône */
}

/* Conteneur pour les liens */
.nav-links {
  display: flex;
  gap: 15px; /* Espacement entre les liens */
}

/* Liens de navigation */
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #141914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #ffffff;
  color: #141914;
  border: 1px solid #141914;
}

button[type="submit"]:active {
  transform: scale(5.20);
}

/* Blog Container */
.blog-container {
  background-color: #121212;
  color: #cccccc;
  padding: 200px;
  line-height: 1.6;
}

/* Titre principal */
.blog-container h1 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #ffffff;
}

/* Paragraphe */
.blog-container p {
  font-size: 1em;
  text-align: justify;
}

.blog-container hr {
  margin: 20px 0;
} 

