
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffebcd; 
}


.approvisionnement-container {
  width: 500px;
  background: linear-gradient(135deg, #ff6f61, #ffcc5c); 
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.currency-button {
  background-color: #fdd835;
  color: #333333;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.currency-button:hover {
  transform: scale(1.1);
  background-color: #ffd700;
}

.user-id {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}


.purchase-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.option {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.option:hover {
  transform: scale(1.1);
  background-color: #ffcc5c;
}

.option-image {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.option p {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin: 0;
}

/* Bouton retour */
.footer {
  margin-top: 20px;
}

.return-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #555555;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out, background-color 0.3s;
}

.return-button:hover {
  transform: scale(1.1);
  background-color: #444444;
}
